:root {
    --black: #000;
    --white: #fff;
    --darkblue: #2D3E50;
    --org: #F39D22;
    --lightblack: #1F1F1F;
    --gry: #F4F4F4;
    --lightgry: #666;
}

/*Default-CSS*/
input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}
input[type="file"]::-moz-file-upload-button {
    cursor: pointer;
}
input[type="file"]::-ms-file-upload-button {
    cursor: pointer;
}
input[type="file"]::-o-file-upload-button {
    cursor: pointer;
}
input[type="file"] {
    cursor: pointer;
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
html body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    padding-top: 147px;
}
*::-moz-selection {
    color: var(--white);
    background: #000;

}
*::-webkit-selection {
    color: var(--white);
    background: #000;
}
*::-webkit-input-placeholder {
    color: #5b6770;
    opacity: 1;
}
*:-moz-placeholder {
    color: #5b6770;
    opacity: 1;
}
*::-moz-placeholder {
    color: #5b6770;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #5b6770;
    opacity: 1;
}

a,
div a:hover,
div a:active,
div a:focus,
button {
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
a,
span,
div a:hover,
div a:active,
button {
    text-decoration: none;
}
*::after,
*::before,
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

ul,
ul li,
ol,
li {
    list-style: outside none none;
   
}
body ul {
    margin: 0;
    padding: 0;
}

body a {
    outline: none;
    transition: all 0.5s ease 0s;
    color: #555;
}

body .clearfix,
body .clear {
    clear: both;
    line-height: 100%;
}
body .clearfix {
    height: auto;
}
* {
    outline: none !important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*.clr:after,
ul:after,
.clearfix:after,
li:after {
    clear: both;
    display: block;
    content: "";
}*/
div input,
div select,
div textarea,
div button {
    font-family: 'Inter', sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-family: 'Inter', sans-serif;
    line-height: 140%;
    color: #5b6770;
    font-weight: bold;
    margin: 0 0 15px;
}
body h1 {
    font-size: 24px;
}
body h2 {
    font-size: 22px;
}
body h3 {
    font-size: 18px;
}
body h4 {
    font-size: 16px;
}
body h5 {
    font-size: 12px;
}
body h6 {
    font-size: 10px;
}
body h1:last-child,
body h2:last-child,
body h3:last-child,
body h4:last-child,
body h5:last-child,
body h6:last-child {
    margin-bottom: 0;
}
div select {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div select option {
    font-size: 13px;
    color: #333;
    padding: 2px 5px;
}
img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
body p {
    color: #5b6770;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0 0 15px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0px;
}
body p:empty {
    margin: 0;
    line-height: 0;
}
body p:last-child {
    margin-bottom: 0;
}
p strong {
    font-weight: bold;
}

label em {
    color: #ff0000;
    display: inline-block;
    font-style: normal;
    vertical-align: top;
    margin-left: 5px;
}
.hidden {
    display: none !important;
}
iframe {
    display: block;
}

.container:after {
    content: "";
    display: block;
    clear: both;
}
.container {
    width: 100%;
    max-width: 1398px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
    float: none;
}
body .container .container {
    padding-left: 0;
    padding-right: 0;
}


/*button*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

/* Buttons styles start */
.btn,
button {
    display: inline-block;
    border: none;
    padding: 13px 26px;
    margin: 0;
    text-decoration: none;
    background: #edeeee;
    color: var(--blue);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 120%;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    position: relative;
    transition: all 0.5s ease;
    border-radius: 5px;
}
.btn:hover,
.btn:focus,
button:hover,
button:focus {
    background: var(--blue);
    transition: all 0.5s ease;
    color: var(--white);
}
.round-coner {
    border-radius: 5px;
}

/* Button styles end */

/*Gapping*/
.section-gapping,
section {
    padding-bottom: 100px;
    padding-top: 100px;
    overflow: hidden;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.fixed {
    top: -55px;
}

.header-top {
    background-color: var(--org);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.header-top:before {
    content: "";
    position: absolute;
    left: -30%;
    width: 50%;
    top: 0;
    bottom: 0;
    background: var(--darkblue);
}

.header-top:after {
    content: "";
    position: absolute;
    right: -24%;
    width: 39%;
    top: 0;
    bottom: 0;
    background: var(--white);
    z-index: -1;
}

.header-top .row {
    justify-content: space-between;
    align-items: center;
}

.header-top-left {
    background-color: var(--darkblue);
    padding: 12px 75px 9px 0;
    clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}

.header-top-left a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
}

.header-top-left a span {
    display: block;
    line-height: 0;
    margin-right: 10px;
}


.menu nav ul {
    display: flex;
    align-items: center;
}

.menu nav ul li a {
    color: var(--lightblack);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.titlename-top {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 18px 0 17px 30px;
    clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
}

.header-top-right {
    display: flex;
    align-items: center;
}

.titlename-top h1 {
    color: var(--lightblack);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.header-top-right .menu {
    margin-right: 17px;
}

.header-top-right .menu ul li:not(:first-child) {
    border-left: 2px solid var(--lightblack);
    padding-left: 12px;
    margin-left: 12px;
}

.header-top-right .menu ul li a:hover{
    color: var(--white);
}

.header-bottom .row{
    justify-content: space-between;
    align-items: center;
}

.header-bottom-left{
    margin: 10px 0;
}

.header-bottom-right .menu .nav{
    padding: 0 20px;
}

.btn{
    background: var(--org);
    padding: 15px 31px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s ease 0s;
    color: var(--black);
}

.btn:hover{
    background: var(--darkblue);
    color: var(--white);
}
.btn-blank{
    padding: 15px 31px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s ease 0s;
    color: var(--org);
    border: 1px solid var(--org);
    border-radius: 5px;
    background-color: var(--white);
    display: inline-block;
}

.btn-blank:hover{
   background: var(--org);
   color: var(--white);
}

.header-bottom-right{
    display: flex;
    align-items: center;
}

.header-bottom-right .manu ul li a{
    margin-left: 10px;
}

.header-bottom{
    background-color: #fff;
}

.menu-bottom nav ul {
    display: flex;
    align-items: center;
}

.menu-bottom nav ul li a {
    color: var(--lightblack);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.header-bottom-right .menu-bottom ul li a:hover{
    color: var(--org);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: all 0.5s ease 0s;
}

.menu-bottom {
    margin-right: 25px;
    z-index: 9999;
}

.menu-bottom ul li{
    margin-right: 25px;
}

.toggle-btn {
    width: 30px;
    height: 25px;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

.toggle-btn span{
        width: 100%;
        height: 1px;
        background: var(--black);
}

.toggle-btn span:before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    transition: all 0.5s ease 0s;
}

.toggle-btn span:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    transition: all 0.5s ease 0s;
}

 body .right-btn-scroll-open li{
    transform: translateX(0px);
}

.right-btn li{
    display: flex;
    transform: translateX(-268px);
    transition: all 0.5s ease 0s;
}

ul.right-btn a {
    background-color: #fff;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    padding: 18px 65px;
    justify-content: center;
    align-items: center;
}

.banner-area-sec{
    background: url('../images/banner-1.svg');
    background-size: cover;
    padding-top: 31%;
    position: relative;
    height: 100vh;
    z-index: 1;
}

.banner-area-sec:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--black);
    opacity: 0.3;
    z-index: -1;

}

.banner-area-sec .container{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

 .big-title{
    color: var(--white);
    font-size: 68px;
    font-weight: 700;
    margin-bottom: 20PX;
}

.small-title{
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 55px;
}

.Quote-sec{
    background-color: var(--gry);
}

.quote-det {
    background-color: var(--darkblue);
    padding: 17px 75px 17px 0;
    clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}

.quote-det h2{
    color: var(--white);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 6px;
}

.quote-det p{
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    padding-left: 2px;
}

.Quote-sec{
    position: relative;
    padding: 0;
}

.quote-menu-left {
    border-right: 1px solid #d9d9d9;
    padding: 0 60px;
}
.Quote-sec:before {
    content: "";
    position: absolute;
    left: -35%;
    width: 50%;
    top: 0;
    bottom: 0;
    background: var(--darkblue);
}

.quote-menu {
    display: flex;
    align-items: center;
    color: var(--gry);
    padding: 10px 0;
}

.quote-menu-small{
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
}

.quote-menu-big{
    font-size: 20px;
    font-weight: 400;
    color: var(--black);
}

.quote-menu-btn{
    margin-left: 60px;
}

h3{
    font-size: 58px;
    font-weight: 700;
    color: var(--black-);
}

.mtm{
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 700;
    color: var(--black-)
}

.Movier-text {
    width: 100%;
    max-width: 50%;
    padding-right: 10px;
}

.Movier-img {
    width: 100%;
    max-width: 50%;
    padding-left: 50px;
}

.Movier-text span{
    display: block;
    position: relative;
}

.Movier-text p{
    margin-bottom: 30px;
    color: var(--lightgry);
}

.Movier-text span:before {
    content: "";
    position: absolute;
    width: 85%;
    height: 1.38px;
    top: 14px;
    left: 40px;
    background-color: var(--org);
}


.Moving-Service-sec{
    background-color: var(--gry);
}

.Moving-Service-heading {
    text-align: center;
    margin-bottom: 35px;
}

.Moving-Service-heading h3{
    font-size: 48px;
    font-weight: 700;
    color: var(--black);
}

.Moving-Service-heading span{
    display: block;
    position: relative;
}

.Moving-Service-heading span:before {
    content: "";
    position: absolute;
    width: 155px;
    height: 1.38px;
    top: 15px;
    left: 505px;
    background-color: var(--org);
}

.Moving-Service-heading span:after {
    content: "";
    position: absolute;
    width: 155px;
    height: 1.38px;
    top: 15px;
    right: 505px;
    background-color: var(--org);
}

.service-text-area ul li {
    background: url('../images/Rectangle.svg');
    background-repeat: no-repeat;
    width: 100%;
    max-width: calc(25% - 30px);
    text-align: center;
    padding: 22px;
    margin: 0 15px;
    background-size: contain;
    background-position: center center;
}

.service-text-heading h4{
    font-size: 22px;
    font-weight: 800;
    color: var(--black);
}

.service-text-heading p {
    font-size: 16px;
    font-weight: 400;
    color: var(--lightgry);
    min-height: 104px;
    margin-bottom: 18px;
}

.service-text-heading span{
    color: var(--org);
}

.service-text-heading{
    padding-top:76px;
}

.service-text-heading img{
    margin-bottom: 20px;
}


.service-text-heading span i {
    margin-bottom: 26px;
    margin-left: 5px;
    text-align: center;
}

.service-text-area ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.Choosing-Peace-heading {
    text-align: center;
}

.Choosing-Peace-heading p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
}

.Choosing-Peace-text-area ul li{
    border: 1px solid var(--org);
    border-radius: 5px;
    width: 100%;
    max-width: calc(25% - 30px);
    padding: 15px;
    margin: 0 15px;
    padding-top: 0;
    transition: all 0.5s ease 0s;
}


.Choosing-Peace-text-area-inner li:hover{
    background-color: var(--org);
}

.Choosing-Peace-text-area-inner li:hover p{
    color: var(--white);
}

.Choosing-Peace-text-area-inner li:hover h4{
    color: var(--white);
}

.Choosing-Peace-text-area h4 {
    font-size: 22px;
    font-weight: 700;
    color: var(--black);
    margin-top: 25px;
}

.Choosing-Peace-text-area-inner li:hover span{
    background-color: var(--white);
}
.Choosing-Peace-text-area p{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 18px;
}

.Choosing-Peace-text-area ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.Choosing-Peace-text-area ul li span {
    background-color: var(--org);
    clip-path: polygon(0 0, 100% 0%, 100% 65%, 53% 100%, 0 65%);
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.right-btn {
    position: fixed;
    top: 45%;
    z-index: 9999;
    left: 0;
}

.left-btn {
    position: fixed;
    top: 45%;
    z-index: 9999;
    right: 0;
}

.right-btn span {
    display: block;
    line-height: 0;
}

.left-btn li {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    transform: translateX(calc(351px - 8px));
    transition: all 0.5s ease 0s;
}

.left-btn li:hover{
    transform: translateX(0);
}

.left-btn li span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 60px;
    background-color: var(--org);
    border-radius: 5px 0 0 5px;
}

.left-btn li a {
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding-right: 15px;
    padding-left: 15px;
    min-width: 344px;
    font-weight: 600;
    font-size: 20px;
}

.icon-sec{
    background-color: var(--gry);
    padding-top: 50px;
    padding-bottom: 50px;
}

.inner-menu{
    display: flex;
    align-items: center;
}

.inner-menu li{
    display: flex;
    align-items: center;
}

.inner-menu h6{
    font-size: 37px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 0px;
}

.inner-menu p{
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
}

.inner-menu li span{
    display: block;
}

.moveing-tips-text-area ul li {
    border-radius: 3px;
    width: 100%;
    max-width: 33.33%;
    margin: 0 20px;
    text-align: center;
}

.moveing-tips-text-area ul li h4 {
    background-color: var(--org);
    font-size: 22px;
    font-weight: 600;
    color: var(--white);
    margin: 0;
    padding: 20px;
    border-radius: 4px 4px 0px 0px;
}

.moveing-tips-text-area ul {
    display: flex;
    align-items: center;
    margin: 0 -20px;
    margin-top: 20px;
}

.Moving-Process-sec{
    background: url('../images/image 47.png');
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}

.Moving-Process-sec h2{
    font-size: 48px;
    font-weight: 700;
    color: var(--black);
}

.Moving-Process {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Moving-Process p{
    font-size: 16px;
    font-weight: 400;
    color: var( --lightgry);
}

.Moving-Process-sec .row{
    justify-content: end;
}

.Moving-Process-sec li{
    padding: 34px 48px;
    margin-bottom: 50px;
    background-color: var(--white);
    border-radius: 10px;
    width: 100%;
    max-width: 50%;
    position: relative;
}

.Moving-Process-sec .btn{
    position: absolute;
}

.Moving-Packages-text-area > ul > li {
    border: 1px solid var(--darkblue);
    border-radius: 5px;
    width: 100%;
    max-width: calc(25% - 30px);
    padding: 18px;
    margin: 0 15px;
    position: relative;
    margin-bottom: 15px;
}

.Moving-Packages-text-area > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Moving-Packages-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Moving-Packages-text > ul >li{
    display: flex;
}

.Moving-Packages-text-area ul li:hover{
    background-color: var(--org);
}

.Moving-Packages-text-area ul li:hover p{
    color: var(--white);
}

.Moving-Packages-text-area ul li:hover h4{
    color: var(--white);
}


.Moving-Packages-text-area ul li:hover span svg path{
    background-color: var(--white);
}

.Moving-Packages-text span h6{
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 5px;
}

.Moving-Packages-text span p {
    font-size: 16px;
    font-weight: 400;
    color: var(--lightgry);
    margin-bottom: 24px;
}

.Moving-Packages-text span h5{
    font-size: 24px;
    font-weight: 600;
}



.Moving-Packages-text-area ul li a{
    position: absolute;
    bottom: -23px;
    right: 10px;
}

.Moving-Packages-text-area > ul > li > ul > li {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
    color: var(--lightgry);
    transition: all 0.5s ease 0s;
}

.Moving-Packages-text-area > ul > li > ul > li span svg path{
    fill: transparent;
    stroke: var(--lightblack);
}

.Moving-Packages-text-area > ul > li:hover {
    background-color: var(--org);
    border: 1px solid var(--org);
}

.Moving-Packages-text-area > ul > li:hover ul > li{
    color: var(--white);
}

.Moving-Packages-text-area > ul > li:hover .Moving-Packages-price{
    background-color: var(--white);
    color: var(--darkblue);
}


.Moving-Packages-text-area > ul > li:hover .Moving-Packages-text span > h6 {
    color: var(--white);
}

.Moving-Packages-text-area > ul > li:hover .Moving-Packages-text span > p {
    color: var(--white);
}

.Moving-Packages-text-area > ul > li:hover span svg path{
    stroke: var(--white);
}


.Moving-Packages-price {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkblue);
    clip-path: polygon(0 0, 100% 0%, 100% 65%, 53% 100%, 0 65%);
    width: 92px;
    height: 92px;
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: -18px;
    padding-bottom: 10px;
    left: 180px;
}

.Moving-Packages-text ul li span{
    display: inline-block;
}

.Moving-Packages-text ul li span svg path{
    fill: var(--white);
}

.Moving-Company {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Moving-Company-text-2{
    width: 100%;
    max-width: 50%;
    padding-right: 35px;
}

.Moving-Company-img-2{
    width: 100%;
    max-width: 50%;
}

.Moving-Company-text-2 p{
    font-size: 16px;
    font-weight: 400;
}

.Moving-Company-img-2 {
    width: 100%;
    max-width: 50%;
    padding-left: 20px;

}

.choose-amex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose-amex-img{
    width: 100%;
    max-width: 50%;
}

.choose-amex-text-area{
    width: 100%;
    max-width: 50%;
    padding-left: 30px;
}

.choose-amex-text{
    max-width: 100%;
    padding: 0;
    margin-bottom: 50px;
}

.choose-amex-text-2 h3 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--black);
}

.choose-amex-text-2{
    max-width: 100%;
    padding: 0;
}

.choose-amex-text p{
    margin-bottom: 50px;
}

.Moving-Reviews p{
    font-size: 27px;
    font-weight: 700;
    color: var(--black);
}



.Moving-Reviews-text-area .slide{
    border: 1px solid var(--darkblue);
    border-radius: 5px;
    padding: 21px;    width: 100%;
    max-width: 100%;
    position: relative;
}

.clint-all {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.clint-detels h5{
    margin-bottom: 5px;
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
}

.clint-detels span{
    color: var(--lightgry);
}

.Moving-Reviews-text-area > ul{
    display: flex;
}

.star-img ul {
    display: flex;
    margin-bottom: 10px;
}

.star-img ul li{
    margin-right: 5px;
}

.star-img p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.clint-img {
    margin-right: 15px;
}

.star-img p{
    min-height: 169px;
}

.Moving-Reviews-sec{
    background-color: var(--gry);
}

.owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.owl-dots span {
    width: 8px;
    height: 8px;
    background-color: var(--black);
    border-radius: 100%;
    display: block;
    margin-left: 5px;
}

.owl-nav {
    position: absolute;
    top: 50%;
    left: -25px;
    right: -25px;
    justify-content: space-between;
    display: flex;
}

.owl-nav span i{
    font-size: 20px;
}

.state-moving-company-sec{
    padding: 70px 0;
}

.moving-company-top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moving-company-top h4{
    font-size: 30px;
    color: var(--black);
    font-weight: 700;
    margin: 0;
}

.moving-company-top{
    margin-bottom: 50px;
}

.moving-company-bottom{
    background-color: var(--org);
    position: relative;
    padding: 30px 0;
}

.moving-company-bottom h4{
    text-align: center;
    font-size: 28px;
    color: var(--white);
    margin-bottom: 0;
}

.moving-company-bottom span {
    display: block;
    margin-left: 10px;
    transition: all 0.5s ease 0s;
}


.moving-company-bottom .plus-icon-rotat{
    transform: rotate(405deg);
}

.moving-company-bottom .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.moving-company-text-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.moving-company-text-area > li{
    width: 100%;
    max-width: 20%;
}

.moving-company-text-area li ul li span{
    margin-right: 15px;
}

.moving-company-text-area li ul li {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    color: var(--lightgry);
}

.moving-company-list{
    padding-top: 40px;
}

.footer-top{
    background-color: var(--darkblue);
}

.footer-main-detels{
    width: 100%;
    max-width: 25%;
}

.quick-links-area{
    max-width: 25%;
}

.footer-top p,.footer-top a{
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
}

.marketing-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quick-color h5{
    font-size: 27px;
    font-weight: 700;
    color: var(--white);
}

.footer-top ul li{
    padding-top: 20px;
}


.footer-main-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quick-links-area-3 ul li{
    display: flex;
}

.contect-us span{
    color: var(--lightgry);
}

.footer-contect-logo{
    margin-right: 20px;
}
.footer-top {
    background-color: #1A2B4A;
    padding-top: 135px;
    padding-bottom: 65px;
}

.footer-main-detels a {
    display: block;
    margin-bottom: 20px;
}

.footer-contect-logo{
    width: 30px;
    height: 30px;
}

.footer-main-detels{
    width: 100%;
    max-width: 43%;
}

.quick-links-area-1{
    width: 100%;
    max-width: 15%;
}

.quick-links-area-2{
    width: 100%;
    max-width: 16%;
}

.quick-links-area-3{
    width: 100%;
    max-width: 18%;
}

.footer-top .row{
    justify-content: space-between;
}

.contect-us-code {
    display: flex;
    justify-content: space-between;
}

.footer-bottom{
    background-color: #152035;
    padding: 10px 0;
}

.footer-bottom p{
    color: var(--white);
}

.marketing-logo span {
    display: block;
    margin-right: 5px;
}

.footer-bottom .row{
    justify-content: space-between;
    align-items: center;
}
.footer-bottom-icon a {
    border-radius: 100%;
    border: 1px solid #fff;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d3052;
}

.footer-bottom-icon a:hover{
   background-color: var(--org);
   border: 1px solid var(--org);
}

.footer-bottom-icon{
    display: flex;
}

.footer-bottom-icon a:not(:last-child){
    margin-right: 10px;
}
